@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a {
  color: unset;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.footer__copyright, .salon__schedule, .salon__phone, .salon__address, .review-slider__item, .consultation__more-btn, .consultation__detail, .consultation-slide__description, .certificates__description, .cosmetic__description, .service-info__more, .service-info__time .time__info, .service-info__price, .about__description, .intro__title, .btn, h3, h2, h1 {
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
}

.footer__menu, .consultation__detail_strong, .consultation-slide__title, .consultation-slide__span, .consultation__title, .certificates__title, .cosmetic__item-title, .service-info__title, .about__title, .screen__title, ._text_strong {
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.footer__menu, .review-slider__item, .consultation__more-btn, .consultation__detail, .consultation-slide__description, .certificates__description, .cosmetic__description, .service-info__more, .about__description {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
@media (max-width: 1440px) {
  .footer__menu, .review-slider__item, .consultation__more-btn, .consultation__detail, .consultation-slide__description, .certificates__description, .cosmetic__description, .service-info__more, .about__description {
    font-size: calc(14px + 6 * ((100vw - 320px) / 1120));
  }
}

.consultation-slide__span, .consultation__title, .certificates__title, .about__title, .intro__title, h1 {
  font-family: "Oswald", sans-serif;
  font-size: 52px;
}
@media (max-width: 1440px) {
  .consultation-slide__span, .consultation__title, .certificates__title, .about__title, .intro__title, h1 {
    font-size: calc(18px + 34 * ((100vw - 320px) / 1120));
  }
}

.service-info__title, h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

.consultation-slide__title, .service-info__time .time__info, .service-info__price, h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
}

.footer__copyright, .salon__schedule, .salon__phone, .salon__address {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
@media (max-width: 1440px) {
  .btn {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1120));
  }
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1;
  font-size: 14px;
  background-color: #fff;
  color: #232323;
  text-rendering: optimizeLegibility;
}

a,
button {
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

._d-none {
  display: none;
}

._text_strong {
  font-family: "Oswald", sans-serif;
}

/* wrapper ---------------------------------*/
.wrapper {
  min-height: 100%;
  min-width: 0;
  transition: opacity 0.8s ease 0s;
}

.wrapper._loaded {
  opacity: 1;
}

.wrapper._loaded .header__logo {
  transform: translate(-50%, 0);
  opacity: 1;
  transition: all 0.8s ease 0.3s;
}

.wrapper._loaded .header {
  transition: transform 0.5s ease 0.5s;
  transform: translate(0, 0);
}

/*.wrapper._loaded .page__pagination {
  transform: translate(0, -50%);
  opacity: 1;
  visibility: visible;
  transition: transform 0.6s ease 0.8s;
}

.wrapper._free .page__pagination {
  transition: all 0.3s ease 0s;
  transform: translate(50px, -50%);
  opacity: 0;
}*/
/* -----------------------------------------*/
/* container -------------------------------*/
.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* -----------------------------------------*/
/* btn -------------------------------------*/
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px 30px;
  cursor: pointer;
}
.btn_primary {
  background: #232323;
  color: #fff;
}
.btn_primary-w {
  background: #fff;
  color: #232323;
}
.btn_secondary {
  padding: 11px 27px;
  border: 3px solid #232323;
  color: #232323;
  background: #fff;
}
.btn_secondary:hover {
  background: #fff;
  color: #232323;
}
.btn_secondary-w {
  padding: 11px 27px;
  border: 3px solid #fff;
  background: #232323;
  color: #fff;
}

/* -----------------------------------------*/
/* header ----------------------------------*/
/*.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  transform: translate(0, -100%);
  @include adaptive-value("padding-left", 100, 14, 0);
  @include adaptive-value("padding-right", 100, 14, 0);
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bg-light;
  z-index: 2;
}

.header__body {
  position: relative;
  //z-index: 3;
  @include adaptive-value("height", 60, 50, 1);
  display: flex;
  align-items: center;
  transition: all 0.8s ease 0.3s;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;

  li {
    list-style: none;
    margin: 0 48px 0 0;
  }
}

.header__link,
.lang__link {
  @extend %tpl-font_regular;
  @extend %tpl-text;
  color: $text-color_dark;

  &:hover {
    text-decoration: underline;
  }
}

// TODO: зробити щоб при клікі закривалось меню
.header__link._active {
}

.header__logo {
  position: absolute;
  left: 50%;
  //@include adaptive-value("left", 48, 48, 1);
  top: 10px;
  //transform: translate(-50%, 0);
  flex: 0 0;
  @include adaptive-value("max-width", 90, 75, 1);

  overflow: hidden;
  z-index: 3;


  transform: translate(-50%, -100%);
  opacity: 0;
  //transition: all 0.5s ease;

  img {
    max-width: 100%;
    display: block;
  }
}

.header__service {
  z-index: 3;
  display: flex;
}

// phone
.header__phone {
}

.phone__link {
  @extend %tpl-font_medium;
  margin: 0 48px 0 0;
  color: $color-orange;
}

// lang
.header__lang {
}

.lang__list {
  display: flex;

  li {
    list-style: none;
    margin: 0 20px 0 0;
  }
}

.lang__link.active {
  @extend %tpl-font_medium;
}

.header__burger {
  display: none;
}

@media (max-width: 1024px) {
  body.lock {
    overflow: hidden;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 40px;
    height: 25px;
    z-index: 3;

    margin-left: auto;
    background: $bg-light;
  }

  .header__burger span {
    position: absolute;
    background-color: $color-dark;
    left: 0;
    width: 50%;
    height: 3px;
    top: 11px;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    position: absolute;
    background-color: $color-dark;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
    width: 80%;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 11px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 11px;
    width: 100%;
  }
  .header__burger.active span {
    transform: scale(0);
  }

  .header__logo {
    left: 45px;
  }

  .header__menu {
    position: fixed;
    top: -2000%;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $bg-light;

    padding: 150px 20px 0;
    @include adaptive-value("padding-top", 200, 75, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    overflow: auto;
    transition: all 0.5s linear 0s;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;

    li {
      margin: 0;
    }
  }

  .header__link {
    display: block;
    padding: 24px;
  }

  .header__service {
    flex-direction: column;

    display: flex;
    align-items: center;
  }

  .phone__link {
    margin: 0;
  }

  .lang__list li {
    margin: 0;
  }
}

@media (max-width: 767px) {

}*/
/* -----------------------------------------*/
/* page ------------------------------------*/
.page {
  overflow: hidden;
}

/* -----------------------------------------*/
/* screen ----------------------------------*/
.screen {
  flex: 1 0 100%;
  position: relative;
  min-width: 0;
  margin-bottom: 100px;
}
.screen:last-child {
  margin: 0;
}

.screen__content {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: calc(18px + 32 * ((100vw - 320px) / 1600));
  padding-right: calc(18px + 32 * ((100vw - 320px) / 1600));
  position: relative;
  z-index: 2;
}

.screen__title {
  color: #232323;
  display: inline-block;
  margin-bottom: 20px;
}

.screen__title_bg {
  background: #fff;
  padding: 4px 24px;
}

._text-line {
  padding: 0 20px;
  border-left: 3px solid #232323;
}

.screen__body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.screen__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.screen__image img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* -----------------------------------------*/
/* pagination, bullet, scroll --------------*/
.page__pagination {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translate(0px, -50%);
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
}

.page__bullet {
  width: 15px;
  height: 15px;
  cursor: pointer;
  border: 2px solid #000;
  margin: 10px 0;
  transition: background-color 0.3s ease 0s;
}

.page__bullet_active {
  background: #232323;
}

.page__scroll {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.page__drag-scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

/* -----------------------------------------*/
/* flex -----------------------------------*/
.f-block {
  display: flex;
}

.f-block__body {
  flex: 1 1 auto;
  min-width: 0;
}

/* ----------------------------------------*/
/* slider navigation arrows  --------------*/
.swiper-button-prev,
.swiper-button-next {
  width: 60px;
  height: 60px;
  background: #232323;
  opacity: 0.5;
  color: #fff;
  padding: 40px;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}

/* ----------------------------------------*/
/* slider pagination ----------------------*/
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border-radius: 0;
  background: transparent;
  border: 1px solid;
}

/* ----------------------------------------*/
/* header ---------------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: #FF4603;
}
.header__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}
.header__logo {
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 5;
  background: green;
}
.header .menu__list {
  display: flex;
  align-items: center;
}
.header .menu__list li {
  position: relative;
  padding: 10px 0;
  margin-right: 20px;
}
.header .menu__link {
  font-size: 18px;
  color: white;
}

/* ----------------------------------------*/
/* intro ----------------------------------*/
.intro {
  height: 100vh;
}
.intro__content {
  top: 100%;
  transform: translateY(-100%);
  padding-bottom: 90px;
}
.intro__title-block {
  margin-left: auto;
  width: max-content;
}
.intro__title {
  font-size: 52px;
  font-weight: 400;
  display: inline;
  background: #fff;
  line-height: 2;
  text-transform: uppercase;
  position: relative;
  white-space: pre-line;
  box-shadow: -12px 0 0 0 #fff, 12px 0 0 0 #fff;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
@media (max-width: 1440px) {
  .intro__title {
    font-size: calc(36px + 16 * ((100vw - 320px) / 1120));
  }
}
@media (max-width: 1024px) {
  .intro__title-block {
    margin-left: 0;
    margin-right: auto;
    width: auto;
  }
}

/* ----------------------------------------*/
/* about ----------------------------------*/
.about__container {
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
}
@media (max-width: 1440px) {
  .about__container {
    padding-top: calc(0px + 90 * ((100vw - 1024px) / 416));
  }
}
@media (max-width: 1440px) {
  .about__container {
    padding-bottom: calc(0px + 90 * ((100vw - 1024px) / 416));
  }
}
.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 46px;
  padding-top: 165px;
  padding-bottom: 165px;
  max-width: 790px;
  min-width: 425px;
  position: relative;
  background: #fff;
}
@media (max-width: 1440px) {
  .about__content {
    padding-top: calc(50px + 115 * ((100vw - 375px) / 1065));
  }
}
@media (max-width: 1440px) {
  .about__content {
    padding-bottom: calc(50px + 115 * ((100vw - 375px) / 1065));
  }
}
@media (max-width: 1440px) {
  .about__content {
    max-width: calc(425px + 365 * ((100vw - 768px) / 672));
  }
}
.about__content:before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  height: calc(100% + 10px);
  width: calc(100% + 22px);
  border: 3px solid #232323;
  pointer-events: none;
}
.about__title {
  font-size: 52px;
  margin-bottom: 38px;
}
@media (max-width: 1440px) {
  .about__title {
    font-size: calc(40px + 12 * ((100vw - 320px) / 1120));
  }
}
.about__description {
  margin-bottom: 18px;
  padding-right: 0;
}
.about__buttons {
  display: flex;
  flex-wrap: wrap;
}
.about__buttons .btn {
  margin-top: 20px;
  flex: 1 1 auto;
}
.about__buttons .btn:first-child {
  margin-right: 20px;
}
.about__photo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  max-width: 808px;
  z-index: -1;
}
@media (max-width: 1440px) {
  .about__photo {
    right: calc(-100px + 100 * ((100vw - 1024px) / 416));
  }
}
@media (max-width: 1440px) {
  .about__photo {
    max-width: calc(650px + 158 * ((100vw - 1024px) / 416));
  }
}
.about__photo img {
  width: 100%;
}
@media (max-width: 1220px) {
  .about__buttons {
    flex-direction: column;
  }
  .about__buttons .btn:first-child {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .about__container {
    padding: 0;
  }
  .about__content {
    padding: 0;
    max-width: 100%;
    min-width: 100%;
  }
  .about__content:before {
    display: none;
  }
  .about__photo {
    max-width: 100%;
    position: relative;
    z-index: 1;
    right: 0;
    transform: none;
  }
}

/* ----------------------------------------*/
/* service --------------------------------*/
.service {
  background: #232323;
}
.service__content {
  padding-left: 0;
  padding-right: 0;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 1440px) {
  .service__content {
    padding-top: calc(50px + 30 * ((100vw - 375px) / 1065));
  }
}
@media (max-width: 1440px) {
  .service__content {
    padding-bottom: calc(50px + 30 * ((100vw - 375px) / 1065));
  }
}
.service__container {
  max-width: 1920px;
  margin: 0 auto;
}
.service__body {
  position: relative;
  padding: 55px 0 0 60px;
  margin-left: 240px;
}
@media (max-width: 1920px) {
  .service__body {
    margin-left: calc(40px + 200 * ((100vw - 1024px) / 896));
  }
}
.service-slider__slide {
  background: #fff;
  width: auto;
  height: auto;
  max-width: min-content;
  overflow: hidden;
}
.service-slider__slide:last-child {
  width: 0px;
}
.service__title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 2;
  font-size: 52px;
}
@media (max-width: 1440px) {
  .service__title {
    font-size: calc(40px + 12 * ((100vw - 320px) / 1120));
  }
}
.service-slider__image {
  text-align: center;
  width: 590px;
  height: 545px;
}
@media (max-width: 1440px) {
  .service-slider__image {
    width: calc(380px + 210 * ((100vw - 768px) / 672));
  }
}
@media (max-width: 1440px) {
  .service-slider__image {
    height: calc(380px + 165 * ((100vw - 768px) / 672));
  }
}
.service-slider__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.service-info {
  padding: 24px;
}
.service-info__title {
  margin-bottom: 10px;
  font-size: 30px;
}
@media (max-width: 1440px) {
  .service-info__title {
    font-size: calc(24px + 6 * ((100vw - 768px) / 672));
  }
}
.service-info__details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.service-info__price {
  margin-right: 28px;
  font-size: 26px;
}
@media (max-width: 1440px) {
  .service-info__price {
    font-size: calc(20px + 6 * ((100vw - 768px) / 672));
  }
}
.service-info__time {
  display: flex;
  align-items: center;
}
.service-info__time .time__icon {
  margin-right: 12px;
  display: flex;
}
.service-info__time .time__icon svg {
  height: 33px;
  width: 33px;
}
@media (max-width: 1440px) {
  .service-info__time .time__icon svg {
    height: calc(20px + 13 * ((100vw - 375px) / 1065));
  }
}
@media (max-width: 1440px) {
  .service-info__time .time__icon svg {
    width: calc(20px + 13 * ((100vw - 375px) / 1065));
  }
}
.service-info__time .time__info {
  font-size: 26px;
}
@media (max-width: 1440px) {
  .service-info__time .time__info {
    font-size: calc(20px + 6 * ((100vw - 768px) / 672));
  }
}
.service-info__more {
  font-size: 20px;
  flex: 1 1 auto;
  text-align: end;
  opacity: 0.5;
}
@media (max-width: 1440px) {
  .service-info__more {
    font-size: calc(14px + 6 * ((100vw - 375px) / 1065));
  }
}
.service-info__more:hover {
  opacity: 1;
}
.service-btns {
  display: flex;
}
.service-btn {
  margin-top: 34px;
}
.service-btn:first-child {
  margin-right: 28px;
}
@media (max-width: 768px) {
  .service__body {
    padding-left: 60px;
    margin-left: 0;
  }
}
@media (max-width: 768px) and (max-width: 1440px) {
  .service__body {
    padding-left: calc(20px + 40 * ((100vw - 375px) / 1065));
  }
}
@media (max-width: 768px) {
  .service-slider__image {
    width: 380px;
    height: 380px;
  }
}
@media (max-width: 768px) {
  .service-info__more {
    flex-basis: 100%;
    text-align: start;
    margin-top: 6px;
  }
}
@media (max-width: 500px) {
  .service-slider__slide {
    width: 100%;
    max-width: initial;
  }
  .service-slider__image {
    width: 100%;
    height: 380px;
  }
}
@media (max-width: 500px) and (max-width: 1440px) {
  .service-slider__image {
    height: calc(385px + -5 * ((100vw - 425px) / 1015));
  }
}
@media (max-width: 500px) {
  .service__body {
    padding-left: 18px;
    margin-right: 18px;
  }
}
@media (max-width: 500px) {
  .service-btns {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .service-btn:nth-child(n) {
    margin-right: 0;
  }
  .service-btn:last-child {
    margin-top: 20px;
  }
}
@media (max-width: 425px) {
  .service-slider__slide:last-child {
    display: none;
  }
  .service-slider__image {
    height: 385px;
  }
}
@media (max-width: 425px) and (max-width: 425px) {
  .service-slider__image {
    height: calc(335px + 50 * ((100vw - 375px) / 50));
  }
}
@media (max-width: 375px) {
  .service-slider__image {
    width: 100%;
  }
  .service__title {
    font-size: 40px;
  }
}
@media (max-width: 375px) and (max-width: 375px) {
  .service__title {
    font-size: calc(33px + 7 * ((100vw - 280px) / 95));
  }
}

/* ----------------------------------------*/
/* cosmetic -------------------------------*/
.cosmetic__content {
  padding-top: 180px;
  padding-bottom: 180px;
}
@media (max-width: 1440px) {
  .cosmetic__content {
    padding-top: calc(50px + 130 * ((100vw - 375px) / 1065));
  }
}
@media (max-width: 1440px) {
  .cosmetic__content {
    padding-bottom: calc(50px + 130 * ((100vw - 375px) / 1065));
  }
}
.cosmetic__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.cosmetic__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
}
.cosmetic__title {
  display: flex;
  align-items: center;
  font-size: 52px;
  margin-bottom: 34px;
}
@media (max-width: 1440px) {
  .cosmetic__title {
    font-size: calc(40px + 12 * ((100vw - 375px) / 1065));
  }
}
@media (max-width: 1440px) {
  .cosmetic__title {
    margin-bottom: calc(24px + 10 * ((100vw - 375px) / 1065));
  }
}
.cosmetic__description {
  max-width: calc(1160px + 22px);
  padding: 0 0 0 22px;
  margin-bottom: 34px;
}
@media (max-width: 1440px) {
  .cosmetic__description {
    margin-bottom: calc(24px + 10 * ((100vw - 375px) / 1065));
  }
}
.cosmetic-btn {
  flex: 0 0 auto;
}
.cosmetic__list {
  display: flex;
}
.cosmetic__item {
  flex: 1 1 auto;
  position: relative;
  margin-right: 24px;
  text-align: center;
}
.cosmetic__item:last-child {
  margin: 0;
}
.cosmetic__item:hover ._border {
  position: absolute;
  top: -12px;
  left: -12px;
  height: calc(100% + 24px);
  width: calc(100% + 24px);
  border: 3px solid #232323;
}
.cosmetic__item-title {
  font-size: 42px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
@media (max-width: 1440px) {
  .cosmetic__item-title {
    font-size: calc(34px + 8 * ((100vw - 375px) / 1065));
  }
}
.cosmetic__img {
  position: relative;
  text-align: center;
  height: 460px;
  display: flex;
  overflow: hidden;
}
@media (max-width: 1440px) {
  .cosmetic__img {
    height: calc(220px + 240 * ((100vw - 768px) / 672));
  }
}
.cosmetic__img img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.cosmetic__img ._dark {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  background: #232323;
}
@media (max-width: 768px) {
  .cosmetic-btn {
    margin-top: 34px;
  }
  .cosmetic__list {
    flex-direction: column;
  }
  .cosmetic__item {
    margin: 0 0 24px;
    height: 250px;
  }
}
@media (max-width: 768px) and (max-width: 1440px) {
  .cosmetic__item {
    height: calc(110px + 140 * ((100vw - 375px) / 1065));
  }
}
@media (max-width: 768px) {
  .cosmetic__item:last-child {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .cosmetic__img {
    height: 100%;
  }
}
@media (max-width: 375px) {
  .cosmetic-btn {
    width: 100%;
  }
}

/* ----------------------------------------*/
/* certificates ---------------------------*/
.certificates {
  background: #232323;
}
.certificates__content {
  padding: 50px 0 50px 0;
}
.certificates-slider__slide {
  width: auto;
}
.certificates-slider__image {
  text-align: center;
  height: 350px;
}
@media (max-width: 1440px) {
  .certificates-slider__image {
    height: calc(200px + 150 * ((100vw - 375px) / 1065));
  }
}
.certificates-slider__image img {
  height: 100%;
  max-width: 100%;
}
.certificates__info {
  color: #fff;
  margin: 30px 0;
  text-align: center;
}
.certificates__title {
  font-size: 52px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
@media (max-width: 1440px) {
  .certificates__title {
    font-size: calc(32px + 20 * ((100vw - 375px) / 1065));
  }
}
.certificates__title:before, .certificates__title:after {
  content: "";
  flex: 1 1;
  border-bottom: 3px solid #fff;
  margin: auto;
}
.certificates__title:before {
  margin-right: 14px;
}
.certificates__title:after {
  margin-left: 14px;
}
.certificates__description {
  padding: 0 20px;
  font-size: 20px;
}
@media (max-width: 1440px) {
  .certificates__description {
    font-size: calc(15px + 5 * ((100vw - 375px) / 1065));
  }
}

/* ----------------------------------------*/
/* consultation ---------------------------*/
.consultation__title {
  display: flex;
  align-items: center;
  font-size: 52px;
  margin-bottom: 34px;
}
@media (max-width: 1440px) {
  .consultation__title {
    font-size: calc(40px + 12 * ((100vw - 375px) / 1065));
  }
}
@media (max-width: 1440px) {
  .consultation__title {
    margin-bottom: calc(24px + 10 * ((100vw - 375px) / 1065));
  }
}
.consultation__content {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 1440px) {
  .consultation__content {
    padding-top: calc(50px + 50 * ((100vw - 375px) / 1065));
  }
}
@media (max-width: 1440px) {
  .consultation__content {
    padding-bottom: calc(50px + 50 * ((100vw - 375px) / 1065));
  }
}
.consultation__container {
  max-width: 1920px;
  padding: 0 40px;
  margin: 0 auto;
  overflow: hidden;
}
.consultation__body {
  margin-left: 200px;
}
@media (max-width: 1920px) {
  .consultation__body {
    margin-left: calc(0px + 200 * ((100vw - 1440px) / 480));
  }
}
.consultation__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1440px;
}
.consultation__slider-navigation {
  display: flex;
}
.consultation__body-content {
  display: flex;
}
.consultation-slide {
  height: auto;
}
.consultation-slide__span {
  font-size: 52px;
  margin-bottom: 22px;
  color: #FF4603;
  display: inline-block;
}
@media (max-width: 1440px) {
  .consultation-slide__span {
    font-size: calc(40px + 12 * ((100vw - 375px) / 1065));
  }
}
.consultation-slide__title {
  font-size: 26px;
  margin-bottom: 22px;
}
@media (max-width: 1440px) {
  .consultation-slide__title {
    font-size: calc(20px + 6 * ((100vw - 375px) / 1065));
  }
}
.consultation-slide__description {
  font-size: 20px;
}
@media (max-width: 1440px) {
  .consultation-slide__description {
    font-size: calc(15px + 5 * ((100vw - 375px) / 1065));
  }
}
.consultation__image {
  margin-right: 48px;
  min-width: 700px;
  height: 426px;
}
@media (max-width: 1440px) {
  .consultation__image {
    min-width: calc(360px + 340 * ((100vw - 1024px) / 416));
  }
}
@media (max-width: 1440px) {
  .consultation__image {
    height: calc(218px + 208 * ((100vw - 1024px) / 416));
  }
}
.consultation__image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.consultation__description {
  max-width: 1440px;
  margin-top: 68px;
}
@media (max-width: 1440px) {
  .consultation__description {
    margin-top: calc(48px + 20 * ((100vw - 375px) / 1065));
  }
}
.consultation__hr-line {
  display: block;
  height: 3px;
  width: 260px;
  background: #232323;
}
.consultation__detail {
  font-size: 20px;
  margin: 26px 0;
}
@media (max-width: 1440px) {
  .consultation__detail {
    font-size: calc(15px + 5 * ((100vw - 375px) / 1065));
  }
}
.consultation__more {
  display: inline;
}
.consultation__more-dots {
  display: none;
}
.consultation__more-btn {
  display: none;
  font-size: 20px;
  text-decoration: underline;
  background: transparent;
  opacity: 0.7;
  color: #FF4603;
}
@media (max-width: 1440px) {
  .consultation__more-btn {
    font-size: calc(15px + 5 * ((100vw - 375px) / 1065));
  }
}
.consultation__button-prev, .consultation__button-next {
  position: relative;
  width: 48px;
  height: 62px;
  background: transparent;
  opacity: 1;
  color: #232323;
  padding: 0;
  margin-top: 0;
  border: 2px solid #232323;
}
.consultation__button-prev:after, .consultation__button-next:after {
  font-size: 32px;
}
.consultation__button-prev:hover, .consultation__button-next:hover {
  opacity: 1;
  border: 2px solid #fff;
}
.consultation__button-prev {
  left: 0;
  margin-right: 14px;
}
.consultation__button-next {
  right: 0;
}
@media (min-width: 1920px) {
  .consultation__body {
    margin-left: 200px;
  }
}
@media (max-width: 1440px) {
  .consultation__container {
    padding: 0 40px;
  }
  .consultation__body {
    margin-left: 0;
  }
}
@media (max-width: 1024px) {
  .consultation-slider__wrapper {
    padding-top: 48px;
  }
  .consultation__body-content {
    flex-direction: column;
  }
  .consultation__image-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  .consultation__image {
    min-width: 530px;
    height: 322px;
  }
}
@media (max-width: 768px) {
  .consultation__image {
    min-width: auto;
    height: auto;
  }
  .consultation__more {
    display: none;
  }
  .consultation__more-dots {
    display: inline;
  }
  .consultation__more-btn {
    display: inline;
  }
}
@media (max-width: 500px) {
  .consultation__container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 500px) and (max-width: 1440px) {
  .consultation__container {
    padding-left: calc(20px + 20 * ((100vw - 375px) / 1065));
  }
}
@media (max-width: 500px) and (max-width: 1440px) {
  .consultation__container {
    padding-right: calc(20px + 20 * ((100vw - 375px) / 1065));
  }
}
@media (max-width: 500px) {
  .consultation__image-body {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .consultation__image {
    min-width: 100%;
    margin-bottom: 24px;
  }
}
@media (max-width: 375px) {
  .consultation__container {
    padding: 0 20px;
  }
}

/* ----------------------------------------*/
/* reviews ---------------------------------*/
.review_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #232323;
  z-index: -1;
}
.review__content {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 180px;
  padding-bottom: 180px;
}
@media (max-width: 1440px) {
  .review__content {
    padding-top: calc(50px + 130 * ((100vw - 375px) / 1065));
  }
}
@media (max-width: 1440px) {
  .review__content {
    padding-bottom: calc(50px + 130 * ((100vw - 375px) / 1065));
  }
}
.review__bg-container {
  position: relative;
}
.review__body {
  position: relative;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 180px;
  padding-bottom: 110px;
}
@media (max-width: 1440px) {
  .review__body {
    padding-top: calc(70px + 110 * ((100vw - 320px) / 1120));
  }
}
@media (max-width: 1440px) {
  .review__body {
    padding-bottom: calc(25px + 85 * ((100vw - 320px) / 1120));
  }
}
.review__title {
  position: absolute;
  font-size: 52px;
  top: -43px;
}
@media (max-width: 1440px) {
  .review__title {
    font-size: calc(40px + 12 * ((100vw - 375px) / 1065));
  }
}
@media (max-width: 1440px) {
  .review__title {
    top: calc(-30px + -13 * ((100vw - 552px) / 888));
  }
}
.review-slider {
  padding-bottom: 42px;
}
.review-slider__slide {
  height: auto;
  border: none;
}
.review-slider__item {
  font-weight: 400;
  height: 100%;
  padding: 20px;
  background: #fff;
  color: #232323;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.review-slider__text {
  margin-bottom: 20px;
}
.review-slider__person {
  font-weight: 500;
}
.review__pagination {
  position: initial;
  margin: 0 auto;
}
.review__pagination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border-radius: 0;
  border: 2px solid #fff;
  opacity: 1;
  margin: 0 12px;
}
.review__pagination .swiper-pagination-bullet-active {
  background: #fff;
}
.review__button-prev, .review__button-next {
  width: 60px;
  height: 60px;
  background: #232323;
  opacity: 1;
  color: #fff;
  padding: 0;
  margin-top: 0;
  top: 50%;
  transform: translateY(-50%);
}
.review__button-prev:after, .review__button-next:after {
  font-size: 32px;
}
.review__button-prev:hover, .review__button-next:hover {
  opacity: 1;
  border: 2px solid #fff;
}
.review__button-prev {
  left: 0;
}
.review__button-next {
  right: 0;
}
@media (max-width: 1460px) {
  .review__container {
    padding: 0 18px;
  }
}
@media (max-width: 600px) {
  .review__body {
    padding: 100px 0;
  }
  .review__title {
    width: calc(100% - (2 * 18px));
    margin-left: 0;
  }
  .review__button-prev, .review__button-next {
    display: none;
  }
}
@media (max-width: 541px) {
  .review__title {
    top: -65px;
  }
}
@media (max-width: 375px) {
  .review__title {
    font-size: 52px;
  }
}
@media (max-width: 375px) and (max-width: 1440px) {
  .review__title {
    font-size: calc(34px + 18 * ((100vw - 280px) / 1160));
  }
}
@media (max-width: 335px) {
  .review__title {
    top: -100px;
  }
}

/* ----------------------------------------*/
/* salon ----------------------------------*/
.salon__content {
  padding-top: 220px;
  padding-bottom: 150px;
}
@media (max-width: 1440px) {
  .salon__content {
    padding-top: calc(50px + 170 * ((100vw - 375px) / 1065));
  }
}
@media (max-width: 1440px) {
  .salon__content {
    padding-bottom: calc(50px + 100 * ((100vw - 375px) / 1065));
  }
}
.salon__body {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.salon__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.salon__title {
  font-size: 52px;
  margin-bottom: 48px;
}
@media (max-width: 1440px) {
  .salon__title {
    font-size: calc(40px + 12 * ((100vw - 320px) / 1120));
  }
}
@media (max-width: 1440px) {
  .salon__title {
    margin-bottom: calc(10px + 38 * ((100vw - 1024px) / 416));
  }
}
.salon__address span {
  color: #FF4603;
}
.salon__schedule, .salon__phone {
  line-height: 47px;
}
@media (max-width: 1440px) {
  .salon__schedule, .salon__phone {
    line-height: calc(33px + 14 * ((100vw - 1024px) / 416));
  }
}
.salon-slider {
  width: 956px;
  height: 632px;
  margin-right: 40px;
}
@media (max-width: 1440px) {
  .salon-slider {
    width: calc(525px + 431 * ((100vw - 1024px) / 416));
  }
}
@media (max-width: 1440px) {
  .salon-slider {
    height: calc(347px + 285 * ((100vw - 1024px) / 416));
  }
}
.salon-slider .f-block {
  display: initial;
}
.salon-slider__image img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.salon__social {
  display: flex;
  margin-top: 34px;
}
.salon__social-item {
  background: #fff;
  margin-right: 24px;
}
.salon__social-item:last-child {
  margin-right: 0;
}
.salon__social-link {
  display: flex;
}
.salon__social-link:hover {
  background: #FF4603;
}
.salon__button-prev, .salon__button-next {
  height: 60px;
  width: 50px;
  opacity: 1;
  color: #fff;
  background: transparent;
  padding: 15px 0;
  margin-top: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid #fff;
}
.salon__button-prev:after, .salon__button-next:after {
  font-size: 32px;
}
.salon__button-prev:hover, .salon__button-next:hover {
  opacity: 1;
  color: #232323;
  background: #fff;
}
.salon__button-prev {
  left: 20px;
}
.salon__button-next {
  right: 20px;
}
@media (max-width: 1024px) {
  .salon-slider {
    width: 956px;
    height: 632px;
  }
}
@media (max-width: 1024px) and (max-width: 1440px) {
  .salon-slider {
    width: calc(400px + 556 * ((100vw - 768px) / 672));
  }
}
@media (max-width: 1024px) and (max-width: 1440px) {
  .salon-slider {
    height: calc(280px + 352 * ((100vw - 768px) / 672));
  }
}
@media (max-width: 1024px) {
  .salon__title {
    margin-bottom: 48px;
  }
}
@media (max-width: 1024px) {
  .salon__schedule, .salon__phone {
    font-size: 22px;
  }
}
@media (max-width: 1024px) and (max-width: 1440px) {
  .salon__schedule, .salon__phone {
    font-size: calc(18px + 4 * ((100vw - 320px) / 1120));
  }
}
@media (max-width: 1024px) {
  .salon__details {
    margin-bottom: 32px;
  }
}
@media (max-width: 1024px) {
  .salon__schedule, .salon__phone {
    line-height: calc(150% + 14px);
  }
}
@media (max-width: 768px) {
  .salon__body {
    display: flex;
    flex-direction: column;
  }
  .salon-slider {
    width: 100%;
    height: 632px;
  }
}
@media (max-width: 768px) and (max-width: 1440px) {
  .salon-slider {
    height: calc(220px + 412 * ((100vw - 375px) / 1065));
  }
}
@media (max-width: 768px) {
  .salon__info {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 32px;
  }
}
@media (max-width: 768px) {
  .salon__schedule {
    margin-right: 40px;
  }
}
@media (max-width: 425px) {
  .salon__info {
    flex-direction: column;
  }
  .salon__schedule, .salon__phone {
    font-size: 22px;
  }
}

/* ----------------------------------------*/
/* footer ----------------------------------*/
.footer__content {
  padding-top: 0;
  padding-bottom: 0;
}
.footer__body {
  padding: 30px 0 50px 0;
}
.footer__menu {
  font-size: 20px;
  color: #fff;
}
.footer__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 74px;
}
.footer__item {
  margin-right: 48px;
  margin-top: 20px;
  text-align: center;
}
@media (max-width: 1440px) {
  .footer__item {
    margin-right: calc(25px + 23 * ((100vw - 1024px) / 416));
  }
}
.footer__item:nth-last-child(-n+2) {
  margin-right: 0;
}
.footer__copyright {
  font-size: 22px;
  color: #fff;
  text-align: center;
  opacity: 0.4;
}
@media (max-width: 1440px) {
  .footer__copyright {
    font-size: calc(16px + 6 * ((100vw - 320px) / 1120));
  }
}
.footer__map {
  background: #303030;
  width: 100%;
  height: 444px;
}
@media (max-width: 1440px) {
  .footer__map {
    height: calc(300px + 144 * ((100vw - 320px) / 1120));
  }
}
.footer_bg {
  background: #232323;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 390px;
  z-index: -1;
}
@media (max-width: 1024px) {
  .footer__list {
    justify-content: flex-start;
  }
  .footer__item {
    margin-right: 20px;
    flex: 0 1 calc(33.3% - 20px);
    text-align: left;
  }
  .footer__item:nth-last-child(-n+2) {
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .footer__menu {
    font-size: 20px;
  }
}
@media (max-width: 768px) and (max-width: 1440px) {
  .footer__menu {
    font-size: calc(16px + 4 * ((100vw - 320px) / 1120));
  }
}
@media (max-width: 550px) {
  .footer__item {
    flex: 0 1 calc(50% - 20px);
  }
}

/* ----------------------------------------*/

/*# sourceMappingURL=index.css.map */
