@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a {
  color: unset;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.review-slider__item, .cosmetic__description, .service-info__details, .about .about__description, .intro__title, .header__link,
.lang__link, .btn, h3, h2, h1 {
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
}

.cosmetic__item-title, .service-info__title, .about .about__title, .screen__title, .lang__link.active, .phone__link {
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.review-slider__item, .cosmetic__description, .service-info__details, .about .about__description, .header__link,
.lang__link {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
@media (max-width: 1440px) {
  .review-slider__item, .cosmetic__description, .service-info__details, .about .about__description, .header__link,
.lang__link {
    font-size: calc(14px + 6 * ((100vw - 320px) / 1120));
  }
}

.about .about__title, .intro__title, h1 {
  font-family: "Oswald", sans-serif;
  font-size: 52px;
}
@media (max-width: 1440px) {
  .about .about__title, .intro__title, h1 {
    font-size: calc(18px + 34 * ((100vw - 320px) / 1120));
  }
}

.service-info__title, h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
@media (max-width: 1440px) {
  .btn {
    font-size: calc(14px + 2 * ((100vw - 320px) / 1120));
  }
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1;
  font-size: 14px;
  background-color: #fff;
  color: #232323;
  text-rendering: optimizeLegibility;
}

a,
button {
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

/* wrapper ---------------------------------*/
.wrapper {
  min-height: 100%;
  min-width: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
}

.wrapper._loaded {
  opacity: 1;
}

.wrapper._loaded .header__logo {
  transform: translate(-50%, 0);
  opacity: 1;
  transition: all 0.8s ease 0.3s;
}

.wrapper._loaded .header {
  transition: transform 0.5s ease 0.5s;
  transform: translate(0, 0);
}

/*.wrapper._loaded .page__pagination {
  transform: translate(0, -50%);
  opacity: 1;
  visibility: visible;
  transition: transform 0.6s ease 0.8s;
}

.wrapper._free .page__pagination {
  transition: all 0.3s ease 0s;
  transform: translate(50px, -50%);
  opacity: 0;
}*/
/* -----------------------------------------*/
/* container -------------------------------*/
.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* -----------------------------------------*/
/* btn -------------------------------------*/
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px 30px;
  cursor: pointer;
}

.btn_primary {
  background: #232323;
  color: #fff;
}

.btn_secondary {
  border: 3px solid #232323;
  color: #232323;
  background: #fff;
}
.btn_secondary:hover {
  background: #fff;
  color: #232323;
}

/* -----------------------------------------*/
/* header ----------------------------------*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  transform: translate(0, -100%);
  padding-left: calc(14px + 86 * ((100vw - 320px) / 1600));
  padding-right: calc(14px + 86 * ((100vw - 320px) / 1600));
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
}

.header__body {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  transition: all 0.8s ease 0.3s;
}
@media (max-width: 1440px) {
  .header__body {
    height: calc(50px + 10 * ((100vw - 320px) / 1120));
  }
}

.header__menu {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}
.header__list li {
  list-style: none;
  margin: 0 48px 0 0;
}
.header__list li._d-none {
  display: none;
}

.header__link,
.lang__link {
  color: #232323;
}
.header__link:hover,
.lang__link:hover {
  text-decoration: underline;
}

.header__logo {
  position: absolute;
  left: 50%;
  top: 10px;
  flex: 0 0;
  max-width: 90px;
  overflow: hidden;
  z-index: 3;
  transform: translate(-50%, -100%);
  opacity: 0;
}
@media (max-width: 1440px) {
  .header__logo {
    max-width: calc(75px + 15 * ((100vw - 320px) / 1120));
  }
}
.header__logo img {
  max-width: 100%;
  display: block;
}

.header__service {
  z-index: 3;
  display: flex;
}

.phone__link {
  margin: 0 48px 0 0;
  color: #FF4603;
}

.lang__list {
  display: flex;
}
.lang__list li {
  list-style: none;
  margin: 0 20px 0 0;
}

.header__burger {
  display: none;
}

@media (max-width: 1024px) {
  body.lock {
    overflow: hidden;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 40px;
    height: 25px;
    z-index: 3;
    margin-left: auto;
    background: #fff;
  }

  .header__burger span {
    position: absolute;
    background-color: #232323;
    left: 0;
    width: 50%;
    height: 3px;
    top: 11px;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    position: absolute;
    background-color: #232323;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
    width: 80%;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 11px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 11px;
    width: 100%;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__logo {
    left: 45px;
  }

  .header__menu {
    position: fixed;
    top: -2000%;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    padding: 150px 20px 0;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    overflow: auto;
    transition: all 0.5s linear 0s;
  }
}
@media (max-width: 1024px) and (max-width: 1440px) {
  .header__menu {
    padding-top: calc(75px + 125 * ((100vw - 320px) / 1120));
  }
}
@media (max-width: 1024px) {
  .header__menu.active {
    top: 0;
  }
}
@media (max-width: 1024px) {
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0;
  }
}
@media (max-width: 1024px) {
  .header__link {
    display: block;
    padding: 24px;
  }
}
@media (max-width: 1024px) {
  .header__service {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 1024px) {
  .phone__link {
    margin: 0;
  }
}
@media (max-width: 1024px) {
  .lang__list li {
    margin: 0;
  }
}
/* -----------------------------------------*/
/* page ------------------------------------*/
.page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* -----------------------------------------*/
/* screen ----------------------------------*/
.screen {
  flex: 1 0 100%;
  position: relative;
  min-width: 0;
  padding: 60px 0 0;
}

.screen__content {
  padding-top: 80px;
  padding-left: calc(18px + 32 * ((100vw - 320px) / 1600));
  padding-right: calc(18px + 32 * ((100vw - 320px) / 1600));
  padding-bottom: 50px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.screen__title {
  color: #232323;
  display: inline-block;
  margin-bottom: 20px;
}

.screen__title_bg {
  background: #fff;
  padding: 4px 24px;
}

._text-line {
  padding: 0 20px;
  border-left: 3px solid #232323;
}

.screen__body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.screen__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.screen__image img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* -----------------------------------------*/
/* pagination, bullet, scroll --------------*/
.page__pagination {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translate(0px, -50%);
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
}

.page__bullet {
  width: 15px;
  height: 15px;
  cursor: pointer;
  border: 2px solid #000;
  margin: 10px 0;
  transition: background-color 0.3s ease 0s;
}

.page__bullet_active {
  background: #232323;
}

.page__scroll {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.page__drag-scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

/* -----------------------------------------*/
/* flex -----------------------------------*/
.f-block {
  display: flex;
}

.f-block__body {
  flex: 1 1 auto;
  min-width: 0;
}

/* ----------------------------------------*/
/* slider ---------------------------------*/
.service-slider,
.review-slider {
  padding: 30px 0;
}

.service-slider__slide,
.review-slider__slide {
  border: 1px solid;
}

.service-slider__image,
.review-slider__image {
  text-align: center;
}

.service-slider__image img,
.review-slider__image img {
  max-width: 100%;
}

/*-----------------------------------------*/
/* slider navigation arrows  --------------*/
.swiper-button-prev,
.swiper-button-next {
  width: 60px;
  height: 60px;
  background: #232323;
  opacity: 0.5;
  color: #fff;
  padding: 40px;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}

/* ----------------------------------------*/
/* slider pagination ----------------------*/
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border-radius: 0;
  background: transparent;
  border: 1px solid;
}

/* ----------------------------------------*/
/* intro ----------------------------------*/
.intro__content {
  top: 100%;
  transform: translateY(-100%);
  padding-bottom: 90px;
}
.intro__title-block {
  margin-left: auto;
  width: max-content;
}
.intro__title {
  font-size: 52px;
  font-weight: 400;
  display: inline;
  background: #fff;
  line-height: 2;
  text-transform: uppercase;
  position: relative;
  white-space: pre-line;
  box-shadow: -12px 0 0 0 #fff, 12px 0 0 0 #fff;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
@media (max-width: 1440px) {
  .intro__title {
    font-size: calc(36px + 16 * ((100vw - 320px) / 1120));
  }
}
@media (max-width: 1024px) {
  .intro__title-block {
    margin-left: 0;
    margin-right: auto;
    width: auto;
  }
}

/* ----------------------------------------*/
/* about ----------------------------------*/
.about .container {
  position: relative;
}
.about .about__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 165px 46px;
  max-width: calc(280px + 532 * ((100vw - 320px) / 1600));
  position: relative;
  background: #fff;
}
.about .about__content ._border {
  position: absolute;
  top: 12px;
  left: 12px;
  height: calc(100% + 24px);
  width: calc(100% + 24px);
  border: 3px solid #232323;
}
.about .about__title {
  margin-bottom: 38px;
}
.about .about__description {
  margin-bottom: 38px;
}
.about .about__buttons {
  display: flex;
}
.about .about__buttons .btn:first-child {
  margin-right: 20px;
}
.about .about__photo {
  position: absolute;
  right: 0;
  top: -65px;
  z-index: -1;
  max-height: calc(600px + 180px);
  max-width: calc(280px + 532 * ((100vw - 320px) / 1600));
}
.about .about__photo img {
  width: 100%;
}
@media (max-width: 767px) {
  .about .about__content ._border {
    display: none;
  }
}

/* ----------------------------------------*/
/* service --------------------------------*/
.service {
  background: #232323;
}

.service__title {
  margin: 0;
}

.service .f-block,
.service .service-btn {
  margin-left: 60px;
}

.service-slider__slide {
  background: #fff;
}

.service-info {
  padding: 26px;
}

.service-info__title {
  margin-bottom: 20px;
}

.service-info__details {
  display: flex;
  align-items: flex-start;
}

.service-info__price {
  margin-right: 40px;
}
.service-info__price span {
  color: #FF4603;
}

.service-info__time {
  display: flex;
}

.time__icon {
  margin-right: 12px;
  display: flex;
}

.service-info__more {
  flex: 1 1 auto;
  text-align: end;
}

.service-btn {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

/* ----------------------------------------*/
/* cosmetic -------------------------------*/
.cosmetic__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.cosmetic__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
}

.cosmetic__title {
  display: flex;
  align-items: center;
  font-size: 52px;
  margin-bottom: 34px;
}
@media (max-width: 1440px) {
  .cosmetic__title {
    font-size: calc(40px + 12 * ((100vw - 375px) / 1065));
  }
}
@media (max-width: 1440px) {
  .cosmetic__title {
    margin-bottom: calc(24px + 10 * ((100vw - 375px) / 1065));
  }
}

.cosmetic__description {
  max-width: calc(1160px + 22px);
  padding: 0 0 0 22px;
  margin-bottom: 34px;
}
@media (max-width: 1440px) {
  .cosmetic__description {
    margin-bottom: calc(24px + 10 * ((100vw - 375px) / 1065));
  }
}

.cosmetics-btn {
  flex: 0 0 auto;
}

.cosmetic__list {
  display: flex;
}

.cosmetic__item {
  flex: 1 1 auto;
  position: relative;
  margin-right: 24px;
  text-align: center;
}
.cosmetic__item:last-child {
  margin: 0;
}
.cosmetic__item:hover ._border {
  position: absolute;
  top: -12px;
  left: -12px;
  height: calc(100% + 24px);
  width: calc(100% + 24px);
  border: 3px solid #232323;
}
.cosmetic__item-title {
  font-size: 42px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
@media (max-width: 1440px) {
  .cosmetic__item-title {
    font-size: calc(34px + 8 * ((100vw - 375px) / 1065));
  }
}

.cosmetic__img {
  position: relative;
  text-align: center;
  height: 460px;
  display: flex;
  overflow: hidden;
}
@media (max-width: 1440px) {
  .cosmetic__img {
    height: calc(220px + 240 * ((100vw - 768px) / 672));
  }
}
.cosmetic__img img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.cosmetic__img ._dark {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  background: #232323;
}

@media (max-width: 767px) {
  .cosmetics-btn {
    margin-bottom: 34px;
  }
}
@media (max-width: 767px) and (max-width: 1440px) {
  .cosmetics-btn {
    margin-bottom: calc(24px + 10 * ((100vw - 375px) / 1065));
  }
}
@media (max-width: 767px) {
  .cosmetic__list {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .cosmetic__item {
    margin: 0 0 24px;
    height: 250px;
  }
}
@media (max-width: 767px) and (max-width: 1440px) {
  .cosmetic__item {
    height: calc(110px + 140 * ((100vw - 375px) / 1065));
  }
}
@media (max-width: 767px) {
  .cosmetic__item:last-child {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .cosmetic__img {
    height: 100%;
  }
}
@media (max-width: 375px) {
  .cosmetics-btn {
    width: 100%;
  }
}
/* ----------------------------------------*/
/* reviews ---------------------------------*/
.review_bg {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  background: #232323;
  z-index: -1;
}
.review__content {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
}
.review__body {
  position: relative;
  padding: calc(180px - 30px) 80px calc(180px - 30px - 45px);
  padding-top: 150px;
  padding-bottom: 105px;
}
@media (max-width: 1440px) {
  .review__body {
    padding-top: calc(70px + 80 * ((100vw - 320px) / 1120));
  }
}
@media (max-width: 1440px) {
  .review__body {
    padding-bottom: calc(25px + 80 * ((100vw - 320px) / 1120));
  }
}
.review__title {
  position: absolute;
  font-size: 52px;
  top: -40px;
}
@media (max-width: 1440px) {
  .review__title {
    font-size: calc(40px + 12 * ((100vw - 375px) / 1065));
  }
}
@media (max-width: 1440px) {
  .review__title {
    top: calc(-30px + -10 * ((100vw - 552px) / 888));
  }
}
.review-slider {
  padding: 30px 0;
}
.review-slider__slide {
  height: auto;
  border: none;
}
.review-slider__item {
  font-weight: 400;
  height: 100%;
  padding: 20px;
  background: #fff;
  color: #232323;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.review-slider__text {
  margin-bottom: 20px;
}
.review-slider__person {
  font-weight: 500;
}
.review__pagination {
  position: initial;
}
.review__pagination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border-radius: 0;
  background: transparent;
  border: 2px solid #fff;
  opacity: 1;
  margin: 12px;
}
.review__pagination .swiper-pagination-bullet-active {
  background: #fff;
}
.review__button-prev, .review__button-next {
  width: 60px;
  height: 60px;
  background: #232323;
  opacity: 1;
  color: #fff;
  padding: 0;
  margin-top: 0;
  top: 50%;
  transform: translateY(-50%);
}
.review__button-prev:after, .review__button-next:after {
  font-size: 32px;
}
.review__button-prev:hover, .review__button-next:hover {
  opacity: 1;
  border: 2px solid #fff;
}
.review__button-prev {
  left: 0;
}
.review__button-next {
  right: 0;
}
@media (max-width: 600px) {
  .review__body {
    padding: 70px 0;
  }
  .review__title {
    width: calc(100% - (18px + 32 * ((100vw - 320px) / 1600)) * 2);
    margin-left: 0;
  }
  .review__button-prev, .review__button-next {
    display: none;
  }
}
@media (max-width: 551px) {
  .review__title {
    top: -65px;
  }
}
@media (max-width: 375px) {
  .review__title {
    font-size: 52px;
  }
}
@media (max-width: 375px) and (max-width: 1440px) {
  .review__title {
    font-size: calc(34px + 18 * ((100vw - 280px) / 1160));
  }
}

/* ----------------------------------------*/

/*# sourceMappingURL=index.css.map */
