@import "nullstyles";
@import "variable";
@import "mixin";
@import "templates";
@import "font";

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  line-height: 1;
  font-size: 14px;
  background-color: $bg-light;
  color: $text-color_dark;
  text-rendering: optimizeLegibility;
}

h1 {
  @extend %tpl-font_regular;
  @extend %tpl-h1;
}

h2 {
  @extend %tpl-font_regular;
  @extend %tpl-h2;
}

h3 {
  @extend %tpl-font_regular;
  @extend %tpl-h3;
}

a,
button {
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

/* wrapper ---------------------------------*/
.wrapper {
  min-height: 100%;
  min-width: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
}

.wrapper._loaded {
  opacity: 1;
}

.wrapper._loaded .header__logo {
  transform: translate(-50%, 0);
  opacity: 1;
  transition: all 0.8s ease 0.3s;
}

.wrapper._loaded .header {
  transition: transform 0.5s ease 0.5s;
  transform: translate(0, 0);
}

/*.wrapper._loaded .page__pagination {
  transform: translate(0, -50%);
  opacity: 1;
  visibility: visible;
  transition: transform 0.6s ease 0.8s;
}

.wrapper._free .page__pagination {
  transition: all 0.3s ease 0s;
  transform: translate(50px, -50%);
  opacity: 0;
}*/

/* -----------------------------------------*/

/* container -------------------------------*/
.container {
  max-width: $maxWidth-container;
  margin: 0 auto;
}

/* -----------------------------------------*/

/* btn -------------------------------------*/
.btn {
  display: inline-flex;
  padding: 18px 30px;
  @extend %tpl-font_regular;
  @extend %tpl-btn;
  cursor: pointer;
}

.btn_primary {
  background: $bg-dark;
  color: $text-color_light;
}

.btn_secondary {
  border: 3px solid $color-dark;
  color: $text-color_dark;
  background: $bg-light;


  &:hover {
    background: $bg-light;
    color: $text-color_dark;
  }
}

/* -----------------------------------------*/

/* header ----------------------------------*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  transform: translate(0, -100%);
  @include adaptive-value("padding-left", 100, 14, 0);
  @include adaptive-value("padding-right", 100, 14, 0);
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bg-light;
  z-index: 2;
}

.header__body {
  position: relative;
  //z-index: 3;
  @include adaptive-value("height", 100, 50, 1);
  display: flex;
  align-items: center;
  transition: all 0.8s ease 0.3s;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;

  li {
    list-style: none;
    margin: 0 48px 0 0;
  }

  li._d-none {
    display: none;
  }
}

.header__link,
.lang__link {
  @extend %tpl-font_regular;
  @extend %tpl-text;
  color: $text-color_dark;

  &:hover {
    text-decoration: underline;
  }
}

// TODO: зробити щоб при клікі закривалось меню
.header__link._active {
}

.header__logo {
  position: absolute;
  left: 50%;
  //@include adaptive-value("left", 48, 48, 1);
  top: 10px;
  //transform: translate(-50%, 0);
  flex: 0 0;
  @include adaptive-value("max-width", 200, 75, 1);

  overflow: hidden;
  z-index: 3;


  transform: translate(-50%, -100%);
  opacity: 0;
  //transition: all 0.5s ease;

  img {
    max-width: 100%;
    display: block;
  }
}

.header__service {
  z-index: 3;
  display: flex;
}

// phone
.header__phone {
}

.phone__link {
  @extend %tpl-font_medium;
  margin: 0 48px 0 0;
  color: $color-orange;
}

// lang
.header__lang {
}

.lang__list {
  display: flex;

  li {
    list-style: none;
    margin: 0 20px 0 0;
  }
}

.lang__link.active {
  @extend %tpl-font_medium;
}

.header__burger {
  display: none;
}

@media (max-width: 1024px) {
  body.lock {
    overflow: hidden;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 40px;
    height: 25px;
    z-index: 3;

    margin-left: auto;
    background: $bg-light;
  }

  .header__burger span {
    position: absolute;
    background-color: $color-dark;
    left: 0;
    width: 50%;
    height: 3px;
    top: 11px;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    position: absolute;
    background-color: $color-dark;
    width: 100%;
    height: 3px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
    width: 80%;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 11px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 11px;
    width: 100%;
  }
  .header__burger.active span {
    transform: scale(0);
  }

  .header__logo {
    left: 45px;
  }

  .header__menu {
    position: fixed;
    top: -2000%;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $bg-light;

    padding: 150px 20px 0;
    @include adaptive-value("padding-top", 200, 75, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    overflow: auto;
    transition: all 0.5s linear 0s;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;

    li {
      margin: 0;
    }
  }

  .header__link {
    display: block;
    padding: 24px;
  }

  .header__service {
    flex-direction: column;

    display: flex;
    align-items: center;
  }

  .phone__link {
    margin: 0;
  }

  .lang__list li {
    margin: 0;
  }
}

@media (max-width: 767px) {

}

/* -----------------------------------------*/

/* page ------------------------------------*/
.page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

/* -----------------------------------------*/

/* screen ----------------------------------*/
.screen {
  flex: 1 0 100%;
  position: relative;
  min-width: 0;
}

.screen__content {
  padding: 80px 50px 50px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.screen__title {
  @extend %tpl-font_medium;
  color: $text-color_dark;
  display: inline-block;
  margin-bottom: 20px;
}

.screen__title_bg {
  background: $bg-light;
  padding: 14px 26px 8px;
}

.screen__title_line {
  padding: 0 20px;
  border-left: 3px solid $color-dark;
}

.screen__body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.screen__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.screen__image img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* -----------------------------------------*/

/* pagination, bullet, scroll --------------*/
.page__pagination {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translate(0px, -50%);
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
}

.page__bullet {
  width: 15px;
  height: 15px;
  cursor: pointer;
  border: 2px solid #000;
  margin: 10px 0;
  transition: background-color 0.3s ease 0s;
}

.page__bullet_active {
  background: $bg-dark;
}

.page__scroll {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.page__drag-scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

/* -----------------------------------------*/

/* flex -----------------------------------*/
.f-block {
  display: flex;
}

.f-block__body {
  flex: 1 1 auto;
  min-width: 0;
}

/* ----------------------------------------*/


/* slider ---------------------------------*/
.service-slider,
.review-slider {
  padding: 30px 0;
}

.service-slider__wrapper {
}

.service-slider__slide,
.review-slider__slide {
  border: 1px solid;
}

.service-slider__image,
.review-slider__image,
{
  text-align: center;
}

.service-slider__image img,
.review-slider__image img,
{
  max-width: 100%;
}

/*-----------------------------------------*/

/* slider navigation arrows  --------------*/
.swiper-button-prev,
.swiper-button-next {
  width: 60px;
  height: 60px;
  background: $bg-dark;
  opacity: .5;
  color: $text-color_light;
  padding: 40px;

  &:hover {
    opacity: 1;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
}

/* ----------------------------------------*/

/* slider pagination ----------------------*/
.swiper-pagination {

}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border-radius: 0;
  background: transparent;
  border: 1px solid;
}

.swiper-pagination-bullet-active {
  //background: $primary-color;
}

/* ----------------------------------------*/

/* service --------------------------------*/
.service {
  background: $bg-dark;
}

// TODO: absolute
.service__title{
  margin: 0;
}

.service .screen__content {
  //margin-left: calc(((240 - 50) * 100%) / #{$maxWidth});
}

.service .f-block,
.service .service-btn {
  margin-left: 60px;
}

.service-slider__slide {
  background: $bg-light;
}

.service-info {
  padding: 26px;

}

.service-info__title {
  @extend %tpl-font_medium;
  @extend %tpl-h2;
  margin-bottom: 20px;
}

.service-info__details {
  display: flex;
  align-items: flex-start;
  @extend %tpl-font_regular;
  @extend %tpl-text;
}

.service-info__price {
  margin-right: 40px;

  span {
    color: $text-color_orange;
  }
}

.service-info__time {
  display: flex;
}

.time__icon {
  margin-right: 12px;
  display: flex;
}

.service-info__more {
  flex: 1 1 auto;
  text-align: end;
}

.service-btn {
  border: 3px solid $color-light;
  background: transparent;
  color: $text-color_light;
}

/* ----------------------------------------*/


/* cosmetic -------------------------------*/

.cosmetic__info {
  display: flex;
  justify-content: space-between;
}

.cosmetic__description {
  flex: 0 1 1044px;
  @extend %tpl-font_regular;
  @extend %tpl-text;
  margin-left: calc(20px - (3px / 2));
  margin-bottom: 20px;
}

.cosmetics-btn {
  margin-left: 100px;
  align-self: flex-start;
}

.cosmetic__list {
  display: flex;
}

.cosmetic__item {
  flex: 1 1 auto;
  position: relative;
  margin-right: 30px;
  text-align: center;

  &:last-child {
    margin: 0;
  }

  &:hover {
    .cosmetic__link {
      display: flex;
    }
  }
}

.cosmetic__item-title {
  @extend %tpl-font_medium;
  color: $text-color_light;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.cosmetic__img {
  position: relative;
  text-align: center;
  height: 460px;
  background: red;
  display: flex;
  overflow: hidden;

  img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.cosmetic__img ._dark {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background: $bg-dark;
}

.cosmetic__link {
  display: none;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, 0);
  //margin-top: -30px;
}

/* ----------------------------------------*/



