* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a {
  color: unset;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*@import "templates";*/
/*@import "font";*/
html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1;
  font-size: 14px;
  background-color: #5d5d5d;
  color: #fff;
  text-rendering: optimizeLegibility;
}

.wrapper {
  min-height: 100%;
  min-width: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
}

.wrapper._loaded {
  opacity: 1;
}

.wrapper._loaded .header {
  transition: transform 0.8s ease 0.8s;
  transform: translate(0, 0);
}

.wrapper._loaded .page__pagination {
  transform: translate(0, -50%);
  opacity: 1;
  visibility: visible;
  transition: transform 0.6s ease 0.8s;
}

.wrapper._free .page__pagination {
  transition: all 0.3s ease 0s;
  transform: translate(50px, -50%);
  opacity: 0;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  transform: translate(0, -100%);
  background-color: #1D5A7E;
}

.menu {
  display: flex;
  min-height: 50px;
  align-items: center;
}

.menu__link {
  color: #fff;
  font-size: 20px;
  transition: color 0.3s ease 0s;
  margin: 0 10px;
}

.menu__link._active {
  color: #9E2835;
}

.page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.screen {
  flex: 1 0 100%;
  position: relative;
  min-width: 0;
}

.screen__content {
  padding: 100px 50px;
  position: relative;
  z-index: 2;
}

.screen__title {
  font-size: 50px;
  color: #fff;
  display: inline-block;
}

.screen__title_bg {
  background: #000;
  padding: 15px;
}

.screen__body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.screen__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.screen__image img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.page__pagination {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translate(0px, -50%);
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
}

.page__bullet {
  width: 15px;
  height: 15px;
  cursor: pointer;
  border: 2px solid #000;
  margin: 10px 0;
  transition: background-color 0.3s ease 0s;
}

.page__bullet_active {
  background-color: black;
}

.page__scroll {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.page__drag-scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

/* button ---------------------------------*/
.btn-primary {
  padding: 18px 30px;
  background: #000;
  color: #fff;
}

/* ----------------------------------------*/
/* flex -----------------------------------*/
.f-block {
  display: flex;
}

.f-block__body {
  flex: 1 1 auto;
  min-width: 0;
}

/* ----------------------------------------*/
/* slider ---------------------------------*/
.image-slider,
.review-slider {
  padding: 30px 0 70px 0;
}

.image-slider__slide,
.review-slider__slide {
  border: 1px solid;
}

.image-slider__image,
.review-slider__image {
  text-align: center;
}

.image-slider__image img,
.review-slider__image img {
  max-width: 100%;
}

/*-----------------------------------------*/
/* slider navigation arrows  --------------*/
.swiper-button-prev,
.swiper-button-next {
  width: 60px;
  height: 60px;
  background: #266387;
  color: #fff;
}

/* ----------------------------------------*/
/* slider pagination ----------------------*/
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border-radius: 0;
  background: transparent;
  border: 1px solid;
}

.swiper-pagination-bullet-active {
  background: #266387;
}

/* ----------------------------------------*/

/*# sourceMappingURL=index.css.map */
