@import "mixin";

%tpl-font_regular{
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
}

%tpl-font_medium{
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}


%tpl-text{
  font-family: 'Montserrat', sans-serif;
  @include adaptive-value("font-size", 20, 14, 1);
}

%tpl-h1{
  font-family: 'Oswald', sans-serif;
  @include adaptive-value("font-size", 52, 18, 1);
}

%tpl-h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

%tpl-h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
}

%tpl-h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}
