%tpl-font_regular{
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
}

%tpl-font_medium{
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}


%tpl-text{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

%tpl-h1{
  font-family: 'Oswald', sans-serif;
  font-size: 42px;
}

%tpl-h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
}

%tpl-h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}

%tpl-btn{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
