// width ----------------------------------------
$maxWidth-container: 1440px;

// ----------------------------------------------


// main colors ----------------------------------
$color-dark: #232323;
$color-light: #fff;
$color-primary: #01159A;
$color-primary_dark: #303030;
$color-primary_light: #fff;
$color-orange: #FF4603;

// ----------------------------------------------

// bg -------------------------------------------
$bg-primary: #01159A;
$bg-dark: #232323;
$bg-light: #fff;

// ----------------------------------------------

// text -----------------------------------------
$text-color_primary: #01159A;
$text-color_dark: #232323;
$text-color_light: #fff;
$text-color_orange: #FF4603;

// ----------------------------------------------

