// test
$container-maxWidth: 1440px;





$primary-color: #000;

$min-height-wrapper:1080px;

$btn-primary-color: #000;
$btn-primary-text-color: #fff;

$icon-primary-color: #000;
$icon-white-color: #fff;







// height
$container-maxHeight: 60vh;

// color
$black-color: #000;
$white-color: #fff;
$red-color: #9E2835;
$light-color: #F7F8F9;
$primary-color: #266387;
$primary-color40: rgba(38, 99, 135, 0.4);
$primary_dark-color: #1D5A7E;
$secondary-color: #E9ECF1;
$secondary-color40: rgba(233, 236, 241, 0.4);
$icon_primary-color: #266387;
$icon_dark-color: #000;

$grey-color: #707070;
$grey_dark-color: #3C3C3C;

