// width ----------------------------------------
$maxWidth-container: 1440px;

// ----------------------------------------------



// bg -------------------------------------------
$bg-primary: #01159A;
$bg-dark: #232323;
$bg-light: #fff;

// ----------------------------------------------

// text -----------------------------------------
$text-color_primary: #01159A;
$text-color_dark: #232323;
$text-color_light: #fff;
$text-color_orange: #FF4603;

// ----------------------------------------------

